{% for msg in app.session.flashbag.get('success') %}
  <div class="alert alert-success alert-dismissible fade show">
    {{ msg }}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
{% endfor %}
